* {
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
}
.topbar {
    background-color: #2C3E50;
    color: white;
}
.topbar-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 55px;
}
.container {
    max-width: 1150px;
    margin: auto;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    width: 110px;
}
.btn {
    display: inline-block;
    background-color: #cccccc;
    color: black;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
}
.btn-orange {
    background-color: #FF7518;
    color: white;
}
.btn-orange:hover {
    background-color: #EE6509;
    color: white;
}
.btn-blue {
    background-color: #185dff;
    color: white;
}
.btn-sm {
    font-size: 12px;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
}
.btn-lg {
    font-size: 18px;
    padding: 20px 40px 20px 40px;
}
.icon-sm {
    font-size: 10px;
}
.icon-md {

}
.icon-lg {

}
.topmenu {
    text-align: right;
}
.topmenu ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    position: relative;
}
.topmenu ul li {
    display: inline-block;
}
.topmenu ul li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 16px 15px 16px 15px;
    font-size: 18px;
}
.topmenu ul li a:hover {
    background-color: black;
}
.topmenu ul ul {
    display: none;
    position: absolute;
}
.topmenu li:hover a {
    background-color: black;
}
.topmenu li:hover ul {
    display: block;
    width: 200px;
    border: 1px solid #bbbbbb;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
}
.topmenu li:hover ul li {
    display: block;
}
.topmenu li:hover ul li a {
    background-color: #eeeeee;
    text-align: left;
    color: black;
    font-size: 16px;
    padding: 5px 15px 5px 15px;
}
.topmenu li:hover ul li a:hover {
    background-color: #2780E3;
    color: white;
}


.bg-red {
    background-color: red;
}
.bg-blue {
    background-color: blue;
}
.hero {
    padding-top: 30px;
    padding-bottom: 30px;
    background: linear-gradient(to bottom, #E2EBF0, #CFD9DF);
}
.hero h1 {
    margin: 0px;
    padding: 0px;
    font-size: 60px;
    color: #333333;
    line-height: 1.2;
}
.font-weight-light {
    font-weight: 200;
}
.main {
    padding-top: 10px;
    padding-bottom: 10px;
}
.lead {
    font-size: 20px;
}
.footer {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 14px;
    color: #9FA19F;
}
.footer a {
    text-decoration: none;
    color: #3B84E3;
}
.footer a:hover {
    text-decoration: underline;
}

@media (max-width: 1199px) {
    .container {
        max-width: 940px;
    }
}
@media (max-width: 991px) {
    .container {
        max-width: 720px;
    }
}
@media (max-width: 767px) {
    .container {
        width: 95%;
    }
}